			</div>
		</div>
	</main>

	<script>
		function signInCallback(authResult) {
			if (authResult['code']) {
				$('#signinButton').attr('style', 'display: none');
				$.ajax({
					type: 'POST',
					url: '/login?state={{ state }}',
					processData: false,
					data: authResult['code'],
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result) {
						if (result) {
							alert(result);
							setTimeout(function() { window.location.href = "/"; }, 4000);
						} else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						} else {
							alert('Failed to make a server-side call. Check your configuration and console.');
						}
					}
				});
			}
		}

		function onSuccess(googleUser) {
			console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
		}
		function onFailure(error) {
			console.log(error);
		}
		function renderButton() {
			gapi.signin2.render('signinButton', {
				'scope':		'profile email',
				'width':		240,
				'height':		40,
				'longtitle':	true,
				'theme':		'light',
				'onsuccess':	onSuccess,
				'onfailure':	onFailure
			});
		}

		$('#signinButton').click(function () {
			auth2.grantOfflineAccess().then(signInCallback);
		})

	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</body>
</html>